<div{{ content_attributes }}>
  <div{{ body_attributes }}>
    <div{{ icon_wrapper_attributes }}>
      <span{{ icon_attributes }}></span>
    </div>
    <div{{ body_wrapper_attributes }}>
      <h4{{ title_attributes }}>{{ title }}</h4>
      {{ content|raw }}
    </div>
  </div>
</div>
