{#
/**
 * @file
 * Default theme implementation to display pruduct lists from an app credential.
 *
 * Available variables:
 * - content: List of API products included in the app crendetial.
 * - attributes: HTML attributes for the containing element.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 * - num_of_visible_rows: How many rows should be visible.
 * - show_more_btn_attrs: Attributes for the 'Show more' button.
 * - show_less_btn_attrs: Attributes for the 'Show less' button.
 *
 * @see template_preprocess_app_credential_product_list()
 *
 * @ingroup themeable
 */
#}
{% set hidden_list_attrs = create_attribute() %}
{% set hidden_class = ['app-cred-prod-list--element-hidden'] %}
<div {{ attributes }}>
  {% if num_of_visible_rows %}
    {% for c in content|slice(0, num_of_visible_rows) %}
      {{ c }}
    {% endfor %}
    <div {{ hidden_list_attrs.addClass(hidden_class).setAttribute('id', 'app-cred-prod-hidden-list') }}>
      {% for c in content|slice(num_of_visible_rows, content.length) %}
        {{ c }}
      {% endfor %}
    </div>
    <button {{ show_more_btn_attrs.setAttribute('id', 'app-cred-prod-list-show-more') }}>{{ 'Show more'|t }}</button>
    <button {{ show_less_btn_attrs.addClass(hidden_class).setAttribute('id', 'app-cred-prod-list-show-less') }}>{{ 'Show less'|t }}</button>
  {% else %}
    {{ content }}
  {% endif %}
</div>
